
@{
    ViewBag.Title = "CreateInvoice";
}
<script src="~/Scripts/js/invoice-customers.js"></script>
<script src="~/Scripts/js/invoice-products.js"></script>
<script src="~/Scripts/js/invoice-main.js"></script>
<script src="~/Scripts/js/create-invoice-pg.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<h2>Create Invoice</h2>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="ddCompanyName">Company Name</label>
            <select class="form-control" id="ddCompanyName">
                <option value="0">Select Company</option>
            </select>

        </div>
        <span>Please select the company/customer you want to generate an invoice for.</span><br /><br />
    </div>

</div>

<h3>Invoice details</h3>
<div id="dvInvoiceDetails">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="txtDueDate">Due Date</label>
                <input type="date" class="form-control" id="txtDueDate" placeholder="Due Date">
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="ddProductService">Product Or Service</label>
                <select class="form-control" id="ddProductService">
                    <option value="0">Select Product/Service</option>
                </select>
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="txtQuantity">Quantity</label>
                <input type="number" class="form-control" id="txtQuantity" placeholder="Quantity">
            </div>
            <input type="button" class="btn btn-default " id="btnAddLineItem" value="Add Line Item" />
        </div>

    </div>
    <div id="dvErrorMessage" style="color:red;">

    </div>
    <h3>Invoice Line Items</h3>
    <div class="row">

        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Taxed</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody id="tblLineItems">
            </tbody>
        </table>

        <table width="50%">
            <tr>
                <td>Sub Total</td>
                <td>
                    <span id="spSubTotal">0</span>
                </td>
            </tr>
            <tr>
                <td>Taxable</td>
                <td>
                    <span id="spTaxable">0</span>
                </td>
            </tr>
            <tr>
                <td>Tax rate</td>
                <td>
                    <span id="spTaxrate">0</span>%
                </td>
            </tr>
            <tr>
                <td>Tax due</td>
                <td>
                    <span id="spTaxdue">0</span>
                </td>
            </tr>
            @*<tr>
                    <td>Other</td>
                    <td>
                        <input type="number" class="form-control" id="txtQuantity" placeholder="Enter Amount">
                        <span id="spTaxdue">Please indicate whether the amount is negetive or positive</span>
                    </td>
                </tr>*@
            <tr>
                <td>
                    <strong>Total</strong>
                </td>
                <td>
                    <span id="spTotal">0</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="row">
        <input type="button" class="btn btn-primary " id="btnSubmitInvoice" value="Submit Invoice" />
    </div>

</div>